extends layout

block head
  if version == 'new'
    link(rel='stylesheet', href='/stylesheets/style_new.css')
  else
    link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/print.css', media='print')
  link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  link(rel='stylesheet', href='https://code.getmdl.io/1.2.1/material.indigo-pink.min.css')
  script(defer='', src='https://code.getmdl.io/1.2.1/material.min.js')

block content
  #data(style='display: none;')
    each user in users
      .data-user
        .data-type= user.type
        .data-value= user.value
        .data-index= user.index
        .data-other= user.other
        .data-isID= user.isID

  form#search
    .top-bar
      .input-wrapper
        input(type='text', placeholder='Zoeken')
        button.material-icons.fav(tabindex='0', type='button') &#xE83A;
      button#overflow-button(type='button')
        i.material-icons &#xE5D4;
        
      ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='overflow-button')
        a(href='http://www.meetingpointmco.nl/Roosters-AL/doc/')
          li.mdl-menu__item Oud rooster gebruiken
        a(href='javascript:window.print()')
          li.mdl-menu__item.mdl-menu__item--full-bleed-divider#print-page Pagina printen
        li.mdl-menu__item(disabled) Gemaakt door Noah Loomans
    .autocomplete-wrapper
      ul.autocomplete
  #week-selector
    #search-space-filler
    .week-wrapper
      if version == 'new'
        input(type='button', value='arrow_back').material-icons
        span.current Loading...
        input(type='button', value='arrow_forward').material-icons
      else
        input(type='button', value='Vorige')
        span.current Loading...
        input(type='button', value='Volgende')

  iframe(src='/hello', scrolling='no')#schedule

  script(src='/javascripts/bundle.js')
  script.
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/sw.js').then(function(registration) {
        // Registration was successful
        console.log('ServiceWorker registration successful with scope: ', registration.scope)
      }).catch(function(err) {
        // registration failed :(
        console.log('ServiceWorker registration failed: ', err)
      })
    }
